<div>
<% if post.wifi.present? %>
 <%= image_tag 'wifi.png' , :size => '30x20'%>
<%end%>

<% if post.plug.present? %>
 <%= image_tag 'plug.png' , :size => '20x20'%>
<%end%>

<% if post.tabacco.present? %>
 <%= image_tag 'tabacco.png' , :size => '30x20'%>
<%end%>

<% if post.card.present? %>
 <%= image_tag 'card.png' , :size => '30x20'%>   
<%end%>
</div>